.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}

.scroll-to-top div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #f09104;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    transition: background-color 0.5s;
}

.scroll-to-top div:hover {
    background-color: #ffffff;
    color: #f09104;
    border: 2px solid #f09104;
}
